<h1> Welcome to your Bookmark Manager </h1>
<form action="/links/new">
  <button type="submit">Add a new bookmark</button>
<table>
  <tr>
    <th>Title</th>
    <th>URL</th>
  </tr>
<% links.each do |link| %>
<tr>
<td><%= link.name %></td>
<td><%= link.url %></td>
</tr>
  <% end %>
</table>
